body {
    box-sizing: border-box;
        background: linear-gradient(90deg, #3c8ecd, #46bbc3, #f2d51c);
        /* display: flex;
       justify-content: center;
       align-items: center; */
        margin: 0;
        padding: 100px 0 20px;
    }
.search-form {
    margin-top: 30px;
display: flex;
flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    }
.search-form input {
    height: 100%;
    width: 400px;
    border: none;
    border-radius: 50px;
    background-color: #fff;
    padding: 10px 30px 10px 30px;
    outline: none;
}
   .search-form button {
       cursor: pointer;
       margin-top: 20px;
       border-radius: 20px;
       outline: none;
       padding: 5px 10px 5px 10px;
   }     
   .is-hidden{
       display: none;}

.gallery {
        display: flex;
        flex-wrap: wrap;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
    }

    .photo-card {
        width: calc(25% - 20px);
        margin: 10px;
        border: 0.5px solid rgba(33, 33, 33, .2);
        filter: drop-shadow(0 4px 4px rgba(0, 0, 0, .15));
        border-radius: 4px;
        background-color: transparent;
    }

    .photo-card img {
        width: 100%;
        height: 160px;
        object-fit: cover;
    }
         .gallery__image {
             width: 100%;
             height: 100%;
             object-fit: cover;}
        .info {
            display: flex;
            justify-content: space-around;
        }
     .load-more {
    cursor: pointer;
        margin-top: 20px;
        border-radius: 20px;
        outline: none;
        padding: 5px 10px 5px 10px;
    }